{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/icon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>

    <div class="main-container">
        <!-- Sidebar -->
        <div class="sidebar">
            </br>
            <img id="fusie" src="{% static 'images/img_19.png' %}" alt="Responsive image">
           </br></br></br></br>
            <img id="profile_pic" src="data:image/png;base64,{{ image_base64 }}" alt="Profile Image">
            <h4 id="profile_name"> {{ name }}</h4>
            <p id="profile_designation" align="center">{{ designation }}</p>
    
            </br></br></br>
    
            <!-- Sidebar Buttons -->
            <div class="sidebar_buttons">
                <a href="{% url 'task_dashboard' %}" class="sidebar-link" id="task-button" 
                   data-default-img="{% static 'images/task_tracker.png' %}" 
                   data-active-img="{% static 'images/task_tracker1.png' %}">
                    <img src="{% static 'images/task_tracker.png' %}" alt="Task Tracker Icon"> TASK TRACKER
                </a>
                <a class="sidebar-link" id="attendance-button" href="{% url 'calendar' %}"
                   data-default-img="{% static 'images/attendance.png' %}" 
                   data-active-img="{% static 'images/attendance1.png' %}">
                    <img src="{% static 'images/attendance.png' %}" alt="Attendance Icon"> ATTENDANCE
                </a>
                <a class="sidebar-link" id="leave-button" 
                   data-default-img="{% static 'images/leavepage.png' %}" 
                   data-active-img="{% static 'images/leavepage1.png' %}">
                    <img src="{% static 'images/leavepage.png' %}" alt="Leave Tracker Icon"> LEAVE TRACKER
                </a>
                
                {% if is_admin or is_md %}
                     <!-- ✅ Show Project Tracker for Admins only -->
                <a class="sidebar_link" id="project-button" 
                href="{% url 'project_tracker' %}" 
                data-default-img="{% static 'images/leavepage.png' %}" 
                data-active-img="{% static 'images/leavepage1.png' %}">
                <img src="{% static 'images/leavepage.png' %}" alt="Project Tracker Icon"> PROJECT TRACKER
            </a>
                {% else %}
                <!-- ✅ Show Notifications for Normal Users -->
                <a class="sidebar_link" id="notifications" 
                href="{% url 'notifications_page' %}"
                data-default-img="{% static 'images/leavepage.png' %}" 
                data-active-img="{% static 'images/leavepage1.png' %}">
                <img src="{% static 'images/leavepage.png' %}" alt="Notifications Icon"> NOTIFICATIONS
            </a>
   
                {% endif %}
                <a class="sidebar-link" id="team-button" href="{% url 'team_dashboard' %}"
                data-default-img="{% static 'images/leavepage.png' %}" 
                data-active-img="{% static 'images/leavepage1.png' %}">
                <img src="{% static 'images/leavepage.png' %}" alt="Leave Tracker Icon"> TEAM DASHBOARD
            </a>
            </div>
    
            <!-- Sign Out Button -->
            <a class="sign-out sidebar-link" id="signout-button"
                data-default-img="{% static 'images/signout.png' %}"
                data-active-img="{% static 'images/signout1.png' %}">
                <img src="{% static 'images/signout.png' %}" alt="Sign Out Icon"> SIGN OUT
            </a>
        </div>
   
    <!--LEAVE TRACKER PAGE-->
    <div class="leave_tracker" style="display: none;">
        <div class="leave-status">
            <div class="leave-statistics">
                <h2 id="ls_hd">LEAVE STATISTICS FOR THE YEAR 2025</h2>
                <div class="pie-container">
                    <div class="chart-container">
                        <canvas id="leaveChart"></canvas>
                    </div>
                    <div class="legend">
                        <div class="legend-header">
                            <span class="legend-number" id="balance-leaves">0</span>
                            <span class="legend-title">Balance <br>Leave Available</span>
                        </div>
                        <div class="legend-items">
                            <div class="legend-item">
                                <span class="legend-color"  style="background-color: #9B59B6;"></span>
                                <span class="legend-text" >Balance Leave Available</span>
                                <!-- <span class="legend-numbers" id="balance-leaves">0</span> -->
                            </div>
                            <div class="legend-item">
                                <span class="legend-color"  style="background-color: #BB8FCE;"></span>
                                <span class="legend-text" >Full Day Leave Taken</span>
                                <!-- <span class="legend-numbers" id="Fullday-leaves">0</span> -->
                            </div>
                            <div class="legend-item">
                                <span class="legend-color"  style="background-color: #D2B4DE;"></span>
                                <span class="legend-text"  >Half Day Leave Taken</span>
                                <!-- <span class="legend-numbers" id="Halfday-leaves">0</span> -->
                            </div>
                            <div class="legend-item">
                                <span class="legend-color"  style="background-color: #E8DAEF"></span>
                                <span class="legend-text">Work from Home Taken</span>
                                <!-- <span class="legend-numbers" id="wfh">0</span> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="legend-footer">
                    <a href="/company-leave-policy/">Know More About Company Leave Policy</a>
                </div>
            </div>
                       
            <div class="upcoming-holidays">
                <h2 id="uh_hd">UPCOMING HOLIDAYS FOR THE YEAR 2025</h2>
                <div class="holiday-table" id="holiday-container">
                    <div class="holiday-row">
                        <span class="holiday-name">Loading holidays...</span>
                    </div>
                </div>                  
            </div>


            <div class="apply-leave">
                <div class="leave-form">
                        <div class="leave-left">
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="from_date">FROM</label>
                                    <div class="from_div"> 
                                        <input type="date" id="from_date" name="from_date">
                                        <span id="selected-from"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="to_date">TO</label>
                                    <div class="to_div"> 
                                        <input type="date" id="to_date" name="to_date">
                                        <span id="selected-to"></span>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="form-group">
                                <label for="leave-type" class="select_type">SELECT LEAVE TYPE</label>
                                <select id="leave-type" name="leave-type" required>
                                    <option value="" disabled selected>Select</option>
                                    <option value="Full Day">Full Day</option>
                                    <option value="Half Day">Half Day</option>
                                    <option value="Work From Home">Work From Home</option>
                                </select>
                            </div>
                    
                            <div class="form-group">
                                <label class="notify_hd" for="notify">NOTIFY</label>
                                <select id="notify" name="notify" required>
                                    <option value="" disabled selected>Select</option>
        
                                </select>
                                <small>Note: These employees will be notified through email when your leave request is approved.</small>
                            </div>
                        </div>
            
                        <div class="leave-right">
                            <div class="reason-group">
                                <label id="reason_hd" for="reason">REASON</label>
                                <textarea id="reason" name="reason" required placeholder="Enter your reason"></textarea>
                            </div>
                    
                            <div class="form-actions">
                                <button type="submit" class="submit-leave-btn">Request Leave</button>
                                <button type="button" class="btn btn-secondary">Cancel</button>
                            </div>
                        </div>
                </div>
            </div>
            
            <div class="calendar-view">
                <div class="calendar_header">
                    <button id="prevMonth"><img id="arrow_left" src="{% static 'images/arrow_left.png' %}"></button>
                    <h2 id="monthYear"></h2>
                    <button id="nextMonth"><img id="arrow_right" src="{% static 'images/arrow_right.png' %}"></button>
                </div>
                <div class="calendar-days">
                    <div>Su</div> <div>Mo</div> <div>Tu</div> <div>We</div> <div>Th</div> <div>Fr</div> <div>Sa</div>
                </div>
                <div id="calendarDates" class="calendar-dates"></div>
                <button class="apply-btn"><img id="calendar-check" src="{% static 'images/calendar-check.png' %}">Apply for Leave</button>
            </div>
        </div>
        <div class="holiday-calendar-container">
    <div class="leave-history">
        <div class="leave-history-header">
            <span>Past Leave History</span>
            <img id="filter_button" src="{% static 'images/filter_button.png' %}">
            <button type="button" class="btn btn-primary" id="approvals-btn" onclick="toggleButton()">APPROVALS</button>
            <button type="button" class="btn btn-primary" id="compleave-btn" >COMP LEAVE BALANCE</button>
        </div>
        <div class="leave-history-content">
            <div id="leave-container" style="display: block;">
                <div id="edit-modal" class="modal">
                    <div class="modal-content">
                        <button class="close-btn" onclick="closeModals()">&times;</button>
                        <h2>Edit Leave Application</h2>
                        <input type="hidden" id="edit-leave-id">
                        <label>Start Date:</label>
                        <input type="date" id="edit-start-date" required>
                        <label>End Date:</label>
                        <input type="date" id="edit-end-date" required>
                        <label>Reason:</label>
                        <textarea id="edit-reason" required></textarea>
                        <label for="leave-type">Leave Type:</label>
                        <select id="edit-leave-type" class="modal-select" required>
                            <option value="Full Day">Full Day</option>
                            <option value="Half Day">Half Day</option>
                            <option value="Work From Home">Work From Home</option>
                        </select>
                        <button onclick="updateLeavedata()">Update Leave</button>
                        <button class="close-btns" onclick="closeModals()"></button>
                    </div>
                </div>
            </div> <!-- Initially visible -->
            
            <div id="approval-container" style="display: none;"></div> <!-- Initially hidden -->
        </div>
        <div class="compensated-worktime-section" style="display: none;">
            <h2>Compensated Worktime</h2>
            <table id="compensatedWorktimeTable">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Punch In</th>
                        <th>Punch Out</th>
                        <th>Break Time</th>
                        <th>Work Time</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data inserted dynamically -->
                </tbody>
            </table>
 
            {% if is_md %}
            <div class="pending-comp-worktime-section">
                <h2>Pending Comp Leave Requests</h2>
                <table id="pending-comp-leave-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Username</th>
                            <th>Worktime</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Pending requests populated dynamically -->
                    </tbody>
                </table>
            </div>
            {% endif %}

        </div>
    </div>
    </div>
   
    
     
</body>
       
<script>

</script>
    <script src="{% static 'js/attendence.js' %}"></script>
    <script src="{% static 'js/task_dashbord.js' %}"></script>
    <script src="{% static 'js/leavepage.js' %}"></script>
</body>
</html>