<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Leave Application</title>
    {% load static %}
<link rel="icon" type="image/x-icon" href="{% static 'images/icon.png' %}">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <br>
    <br>
    <a class="btn btn-success" href="{% url 'leave_applications' %}">Back</a>
    <div class="container mt-5">
        <h1 class="text-center text-danger">Delete Leave Application</h1>
        <p class="text-center">Are you sure you want to delete the leave application from <strong>{{ leave_application.start_date }}</strong> to <strong>{{ leave_application.end_date }}</strong>?</p>
        <form method="post" class="text-center">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirm Delete</button>
        </form>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
